*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(-180deg,hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    background-repeat: no-repeat;
}
main{
  padding: 30px 25px;
  
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    border: 3px solid rgb(201, 200, 200);
    align-items: center;
    margin : auto;
    padding: 0px 15px;
    border-radius: 4px;

}
header p{
    font-size: 12px;
}
header .game_score{
    font-size: 35px;
}
header img{
    width: 90px;
}
section{
    background-image: url(./images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
    margin-top: 140px;
}
.score{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    padding-top: 15px;
    border-radius: 5px;
}
.paper-gradient{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: 10px solid  hsl(230, 89%, 62%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;


}
.p_tag{
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    display: none;
    font-size: 12px;  

}
.house{
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    display: none;
    font-size: 12px;  
}
.popup{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: hsl(237, 49%, 15%);
    display: none;
}
.scissors-gradient{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: 10px solid  hsl(39, 89%, 49%) ;
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: -10px;


}
.rock-gradient{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: 10px solid hsl(349, 71%, 52%);
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 0 auto;
}
.paper-gradient img,.scissors-gradient img,.rock-gradient img{
    width: 40px;
}
.paper_scissors{
    display: flex;
    justify-content: space-around;
   
}
.button{
text-align: center;
margin: 90px auto;
width: 100px;
height: 40px;
border: 2px solid white;
border-radius: 4px;
padding-top: 8px;
color: white;
}
.modal{
  width: 100%;
  height: 100vh;
  padding: 150px 10px;
  background-color: white;
  position: absolute; 
  top: 0;
  display: none;
}
.modal h3{
  text-align: center;
}
.modal .rules{
  width: 250px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
.modal .closed{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}
.rotate-in-2-cw {
	-webkit-animation: rotate-in-2-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

  @keyframes rotate-in-2-cw {
    0% {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }
  .fade-out {
	        animation: fade-out 0.3s ease-out both;
}

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .scale-in-center {
	-webkit-animation: scale-in-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  .scale-out-center {
    -webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }

@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}

  
  